<?xml version='1.0'?>

<?include $(sys.SOURCEFILEDIR)\VCCRT.wxi ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
   <Product Id='$(var.PRODUCT_ID)'
                                    Name='MSI to redistribute Rigs of Rods'
                                    Language='1033' Version='1.0.0.0' Manufacturer='Pricorde'>
            <Package Id='$(var.PACKAGE_ID)'
                        Description='MSI to redistribute Rigs of Rods'
                        Comments='MSI to redistribute Rigs of Rods'
                        Manufacturer='Pricorde'
                        InstallerVersion='300'
                        Compressed='yes' />
            <Media Id='1' Cabinet='VCCRT.cab' EmbedCab='yes' />
            <Directory Id='TARGETDIR' Name='SourceDir'>
                        <Merge Id='CRT' Language='0' src='C:\Program Files\Fichiers communs\Merge Modules\microsoft_vc80_crt_x86.msm' DiskId='1' />
                        <Merge Id='CRT Policy' Language='0' src='C:\Program Files\Fichiers communs\Merge Modules\policy_8_0_Microsoft_VC80_CRT_x86.msm' DiskId='1' />
            </Directory>
            <Feature Id='CRT_WinSXS' Title='CRT WinSXS' Level='1'>
                        <MergeRef Id='CRT' />
                        <MergeRef Id='CRT Policy' />
            </Feature>
            <InstallExecuteSequence>
                        <RemoveRegistryValues/>
                        <RemoveFiles/>
                        <InstallFiles/>
                        <WriteRegistryValues/>
            </InstallExecuteSequence>
   </Product>
</Wix>
